@charset "utf-8";

// ==========================================================================
// base
// ==========================================================================

@use 'base/base';
@use 'base/helpers';

// ==========================================================================
// components
// ==========================================================================

@use 'components/breadcrumb';
@use 'components/button';
@use 'components/card';
@use 'components/details';
@use 'components/pager';

// ==========================================================================
// layout
// ==========================================================================

@use 'layout/header';
@use 'layout/footer';

// ==========================================================================
// pages
// ==========================================================================

@use 'pages/top';
@use 'pages/plan';
@use 'pages/blog';
@use 'pages/blog-details';
@use 'pages/contact';
@use 'pages/page404';
@use 'pages/search';
@use 'pages/result';
@use 'pages/result-details';

// ==========================================================================
// vendors
// ==========================================================================

@use 'vendors/simplebar';
